* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #2b2d42;
  color: #f1f1f1;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 50%;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80%;
  margin: auto;
  margin-top: 5rem;
}

.settings-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.spinner-settings {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.images {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-left: 2rem;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 20px;
}

label {
  display: block;
  font-weight: bold;
  color: #e5e5e5;
}
select,
input {
  width: 100%;
  padding: 4px;
  font-size: 16px;
  border: 2px solid #8d99ae;
  border-radius: 6px;
  transition: border-color 0.3s ease, background-color 0.3s ease;
}
select:focus {
  background-color: #ffffff;
  outline: none;
}
option {
  padding: 10px;
}

button {
  padding: 4px;
  border-radius: 6px;
}

button:hover {
  color: white;
  background-color: #2b2d42;
  border: 2px solid white;
}

.spinner-settings-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
